
/* Comunes */
html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pp-section {
    height: 100%;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
}

.pp-easing {
    -webkit-transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -moz-transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -o-transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
    transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
}

#pp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}

#pp-nav.right {
    right: 17px;
}

#pp-nav.left {
    left: 17px;
}

.pp-section.pp-table {
	display: table;
	text-align: center;
}

.pp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.pp-slidesNav {
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}

.pp-slidesNav.bottom {
    bottom: 17px;
}

.pp-slidesNav.top {
    top: 17px;
}

#pp-nav ul,
.pp-slidesNav ul {
    margin: 0;
    padding: 0;
}

#pp-nav li,
.pp-slidesNav li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative;
}

.pp-slidesNav li {
    display: inline-block;
}

#pp-nav li a,
.pp-slidesNav li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

#pp-nav li .active span,
.pp-slidesNav .active span {
    background: #333;
}

#pp-nav span,
.pp-slidesNav span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.pp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
}

.pp-tooltip.right {
    right: 20px;
}

.pp-tooltip.left {
    left: 20px;
}

.pp-scrollable {
    overflow-y: scroll;
    height: 100%;
}
/* Fin Comunes */

/* Menu Principal */
#menu-principal {
    z-index: 99;
    background-color: #ffffff;
}
/* Fin Menu Principal */

/* Menu */
#menu {
    position: fixed;
    top: 65px;
    left: 0;
    height: 70px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
    background: #fff;
    background: #167DBE;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#menu li.active {
    background: #666;
    background: transparent;
    border: solid 1px #167DBE;
    color: #fff;
}

#menu li a {
    text-decoration: none;
    color: #ffffff;
}
#menu li:hover a {
    color: #167DBE;
}

#menu li.active a:hover {
    color: #167DBE!important;
}

#menu li:hover {
    background: transparent;
    border: solid 1px #167DBE;
    color: #167DBE;
}

#menu li a,
#menu li.active a {
    padding: 9px 18px;
    display: block;
}

#menu li.active a{
    color: #167DBE;
}
/* Fin Menu */

/* Section 1
 * --------------------------------------- */
#section1 h1 {
    color: #444;
}

#section1 p {
    color: #333;
    color: rgba(0, 0, 0, 0.3);
}

#section1 img {
    margin: 20px 0;
    opacity: 0.7;
}

/* Section 2
 * --------------------------------------- */
#section2 h1,
#section2 p {
    z-index: 3;
}

#section2 p {
    opacity: 0.8;
}

#section2 #colors {
    right: 60px;
    bottom: 0;
    position: absolute;
    height: 413px;
    width: 258px;
    background-image: url(../../img/trayectoria/seccion1.jpg);
    background-repeat: no-repeat;
}

/* Section 3
 * --------------------------------------- */
#section3 #colors {
    left: 60px;
    bottom: 0;
}

#section3 p {
    color: #757575;
}

#colors2,
#colors3 {
    position: absolute;
    height: 163px;
    width: 362px;
    z-index: 1;
    background-repeat: no-repeat;
    left: 0;
    margin: 0 auto;
    right: 0;
}

#colors2 {
    background-image: url(imgs/colors2.gif);
    top: 0;
}

#colors3 {
    background-image: url(imgs/colors3.gif);
    bottom: 0;
}

/* Section 4
 * --------------------------------------- */
#section4 p {
    opacity: 0.6;
}

/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
#pp-nav.custom .pp-tooltip {
    color: #AAA;
}

#markup {
    display: block;
    width: 450px;
    margin: 20px auto;
    text-align: left;
}


#flecha-indicador {
    position: absolute;
    bottom: 1472px;
    font-size: 4em;
    animation: efectoRebote .7s infinite linear alternate;
    color: #212529b8;
}

.contenedor-seccion {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.contenedor-info {
    padding-left: 8%;
    padding-right: 8%;
}

.titulo-seccion {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: #000000;
}

.lista-seccion {
    text-align: left;
    color: #000000;
}

.titulo-seccion.izqd {
    padding-left: 3%;
    text-align: center;
    margin-bottom: 20px;
}

.lista-seccion.izqd {
    text-align: justify;
}

.titulo-seccion.drch {
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
}

.lista-seccion.drch {
    text-align: justify;
}

.img-drch {
    /* float: right; */
    /* margin-top: 70px; */
}

.img-izqd {
    float: left;
    margin-top: 70px;
}