#menu-principal{
	position: fixed;
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    z-index: 99;
    animation: menuFijo 400ms ease-in;
    animation-fill-mode: forwards;
}

#menu-principal.menu-fijo{
    background-color: #167DBE90;
    color: #ffffff;
    position: relative;

}

#menu-principal.menu-flotante.menu-principal-scroll{
    color: #ffffff;
    animation: menuFlota 400ms ease-in;
    animation-fill-mode: forwards;
}

#menu-principal .navbar-collapse{
	justify-content: flex-end;
}
#menu-principal a{
	color: #ffffff;
}

#menu-principal a:hover{
	color: #b3e2ff;
}

#menu_on {
    display: block;
    width: 62px;
    height: 35px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    border: none;
}
#menu_on:focus{
	outline: none;
}

#menu_on span {
    width: 100%;
    height: 2px;
    margin: 5px 0;
    border-radius: 4px;
    display: block;
    position: relative;
    background: #ffffffe3;
    transition: all 0.25s ease;
    transform-origin: 0px 100%;
}

.visible_menu span:nth-child(1){
	transform: rotate(45deg) translate(-7px,-5px);
}

.visible_menu span:nth-child(2){
	opacity: 0;
}


.visible_menu span:nth-child(3){
	transform: rotate(-45deg) translate(-3px,3px); 
}

@media(min-width: 576px){

}

@media(min-width: 768px){

}

@media(min-width: 992px){
	#menu_on {
		display:none
	}

}
@media(min-width: 1200px){

}

@media(min-width: 1600px){

}